{{define "title" }} Регистрация {{end}}

{{define "content" }}
    <div class="form--title">{{template "title"}}</div>
    <div class="field">
        <label for="username">Введите имя пользователя</label>
        <input id="username" type="text"/>
    </div>
    <div class="field">
        <label for="password">Введите пароль</label>
        <input id="password" type="password"/>
    </div>

    <div class="field">
        <label for="password">Повторите пароль</label>
        <input id="password" type="password"/>
    </div>

    <div class="button--container">
        <button id="login--button" type="submit">Войти</button>
    </div>
{{end}}

{{template "base.html" . }}
