<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Регистрация</title>
  <link rel="stylesheet" href="/assets/styles.css">
</head>
<body>
<form action="http://localhost:8080/login" method="post" class="form">
  <div class="form--title">Регистрация</div>
  <div class="field">
    <label for="username">Введите имя пользователя</label>
    <input id="username" type="text"/>
  </div>
  <div class="field">
    <label for="password">Введите пароль</label>
    <input id="password" type="password"/>
  </div>

  <div class="field">
    <label for="password">Повторите пароль</label>
    <input id="password" type="password"/>
  </div>

  <div class="button--container">
    <button id="login--button" type="submit">Войти</button>
  </div>
</form>
</body>
</html>